<a href="https://colab.research.google.com/github/maullindaaa/M2P2V1_Struktur_Data_Set/blob/main/M2P2V1_Struktur_Data_Set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Set
Set adalah kumpulan item bersifat unik dan tanpa urutan (unordered collection). Didefinisikan dengan kurawal dan elemennya dipisahkan dengan koma. Pada Set kita dapat melakukan union dan intersection, sekaligus otomatis melakukan penghapusan data duplikat.

In [1]:
#Contoh Set 
S1 = {1, "dua", True, 2+3j}
print(type(S1))

<class 'set'>

In [2]:
#Sifat-sifat Set

#Tidak Terurut/Unordered
print("Memanggil Set S1 dengan indeks urutan:", S1[0:3])

TypeError: ignored

In [3]:
#Tidak Bisa Diganti/Immutable
S1[1] = 2
print("Set S1 setelah diganti elemennya:", S1)

TypeError: ignored

In [4]:
S1 = {1, "dua", True, 2+3j}
#Dapat diindeks/Slicing
print("Slicing Set S1:", S1[3])

TypeError: ignored

In [6]:
#Dapat Dijinkan Duplikasi
S1 = {1,"dua", True, True, 2+3j, 2+3j} #Boolean tidak diterbaca atau dianggap tidak ada
print("Duplikasi pada Set S1", S1)

Duplikasi pada Set S1 {'dua', 1, (2+3j)}

**Latihan**

In [8]:
#Buatlah struktur data set mu sendiri
#Jawab:
SET = {8,4+1j,"tilu",False,9}
print(type(SET))
SET

<class 'set'>

{(4+1j), 8, 9, False, 'tilu'}